
#duelo {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

#duelo div {
  text-align: center;
}
#lim_votos{
  display: none;
  color: white;
  background-color: red;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  width: 20%;
  margin-left: 40%;
  text-align: center;
}

#duelo img {
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  height: 250px;
}

#duelo img:hover {
  transform: scale(1.05);
}

#duelo-error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

button{
  scale: 1.5;
  display: block;
  margin-top: 5%;
  margin-left: 45%;;
  padding: 0.5rem 1rem;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;

}