main {
  text-align: center;
  padding: 2rem;
}

main h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

main p {
    margin-left: 20%;
    width: 60%;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
  text-align: center;
}

main p strong {
  color: #007BFF;
}

main a#enlace-bases {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid #007BFF;
  transition: color 0.3s, border-color 0.3s;
}

main a#enlace-bases:hover {
  color: #0056b3;
  border-color: #0056b3;
}

main button {
  padding: 0.7rem 1.5rem;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.3s;
}

main button:hover {
  background: #0056b3;
}
