
nav, footer{
  background: #333;
  color : #fff;

}
footer {
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
    padding: 1rem 1rem;
}


nav a:hover {
  background: #007bff;
  border-radius: 5px;
}

a>img {
  width: 30px;
  padding-top: 10px;
}

header {
  color: #000000;
  text-align: center;

}