#podium {
    display: none;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    margin: 2rem 0;
    height: 300px;
}

#podium1, #podium2, #podium3 {
    width: 275px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding-bottom: 100px;
    -webkit-text-stroke: black 1px;
}

#podium1 {
    height: 275px;
    background: gold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#podium2 {
    height: 220px;
    background: silver;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#podium3 {
    height: 160px;
    background: #cd7f32; /* bronce */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
